<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../payment ui/style.css">
    <title>Document</title>
    <title>Document</title>
</head>
<body>
    

  <div class="container-fluid">
    <!-- <nav class="main-menu">
      <ul>
          <li>
              <a href="../payment ui/sample.html">
                  <i class="fa fa-home fa-lg h-5vh fa_mod"></i>
                  <span class="nav-text">
                      Home
                  </span>
              </a>
            
          </li>
          <li class="has-subnav">
              <a href="newitemtype.html">
                  <i class="fa fa-table fa-lg h-5vh fa_mod"></i>
                  <span class="nav-text">
                      Food item type
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="newitem.html">
                 <i class="fa fa-list-ol fa-lg h-5vh fa_mod"></i>
                  <span class="nav-text">
                      Add food items
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="mealcatagory.html">
                 <i class="fa fa-sitemap fa-lg h-5vh fa_mod "></i>
                  <span class="nav-text">
                      Meal category
                  </span>
              </a>
             
          </li>
          <li class="has-subnav">
            <a href="mealtype.html">
               <i class="fa fa-file fa-lg h-5vh fa_mod "></i>
                <span class="nav-text">
                    Meal Type
                </span>
            </a>
        </li>
          <li>
              <a href="createmeal.html">
                  <i class="fa fa-cutlery fa-lg h-5vh fa_mod"></i>
                  <span class="nav-text">
                      Add meal
                  </span>
              </a>
          </li>
          <li>
              <a href="cafestock.html">
                  <i class="fa fa-briefcase fa-lg h-5vh fa_mod"></i>
                  <span class="nav-text">
                      Stock
                  </span>
              </a>
          </li>
      </ul>

      <ul class="logout">
          <li>
             <a href="#">
                   <i class="fa fa-power-off fa-lg h-5vh fa_mod"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>  
      </ul>
  </nav> -->


  <div class="row">
    <div class="col-md-12">
        
      <div class=" mt-3">
        <div class="">
          <div class="bg-alert-mod text-center  py-2 px-3 rounded">
            <h4 class="card-title font-weight-bold">
              Meal List
            </h4>
          </div>

          <hr />

          <div class="row mb-xs-3">
            <div class="col-md-6">
              <div class=" mb-3 w-md-50">
               <!-- Actual search box -->
              <div class="form-group has-feedback has-search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
              </div>
              </div>
            </div>
            <div class="col-md-6 text-md-right">
              <button
                class="btn  btn-primary pr-3"
                data-toggle="modal"
                data-target="#exampleModal"
                @click="ModalButtonTextHandeler('Save')"
              >
                <i class="fa fa-plus ml-2" aria-hidden="true"></i> &nbsp;
                Add new meal
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="w-3">SL</th>
                  <th scope="col">Meal Name</th>
                  <th scope="col">SKU</th>
                  <th scope="col">Type</th>
                  <th scope="col">Category</th>
                  <th scope="col">Unit of Measurement</th>
                  <th scope="col">Cost Price</th>
                  <th scope="col">Selling Price</th>
                  <th scope="col">Description</th>
                  <th scope="col" class="w-12 text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(Meal, index) in resultQuery" :key="index">
                  <th scope="row">1</th>
                  <td>{{ Meal.MealName }}</td>
                  <td>{{ Meal.SKU }}</td>
                  <td>{{ Meal.TypeName }}</td>
                  <td>{{ Meal.CategoryName }}</td>
                  <td>{{ Meal.Amount }} {{ Meal.UnitOfMeasurement }}</td>
                  <td>{{ Meal.CostPrice }}</td>
                  <td>{{ Meal.SellingPrice }}</td>
                  <td>{{ Meal.Description }}</td>
                  <td align="center">
                    <div
                      class="btn-group mr-2 mb-2 "
                      role="group"
                      aria-label="Second group"
                    >
                      <button
                        class="btn btn-sm btn-success "
                        data-toggle="modal"
                        data-target="#exampleModal"
                        @click="TableEntry(Meal)"
                      >
                        <i class="fa fa-edit px-1"></i>
                      </button>
                    </div>
                    <div
                      class="btn-group  mb-2"
                      role="group"
                      aria-label="Second group"
                    >
                      <button
                        class="btn btn-sm btn-danger"
                        data-toggle="modal"
                        data-target="#deletemodal"
                        @click="SelectedToDelete(Meal)"
                      >
                        <i class="fa fa-trash px-1"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title font-weight-bold text-white">
            Item Details
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="form-group ">
                  <label>Meal name</label>
                  <input
                    v-model="MealName"
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Ex. Salt"
                  />
                </div>

                <div class="mb-3">
                  <label class="typo__label">Item List</label>
                  <multiselect
                    v-model="value"
                    placeholder="Search or add a tag"
                    label="name"
                    track-by="code"
                    :options="options"
                    :multiple="true"
                    :taggable="true"
                  ></multiselect>
                </div>

                <div class="form-group">
                  <label>Meal type</label>
                  <div class="input-group">
                    <select
                      v-model="selectedType"
                      class="form-control form-control-sm"
                    >
                      <option select disabled>Choose Type</option>

                      <option
                        v-for="types in Mealtype"
                        :key="types.TypeUniquecode"
                        v-bind:value="types"
                      >
                        {{ types.Name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label>Meal Catagory</label>
                  <div class="input-group">
                    <select
                      v-model="selectedCategory"
                      class="form-control form-control-sm"
                    >
                      <option select disabled>Choose Category</option>
                      <option
                        v-for="category in MealCategory"
                        :key="category.CategoryUniqueCode"
                        v-bind:value="category"
                      >
                        {{ category.CategoryName }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label>Unit of Measurement</label>
                    <div class="row">
                      <div class="col-sm-9">
                           <input type="number"  min="1"
                          placeholder="Ex.100gm"
                          class="form-control form-control-sm"
                          aria-label="Text input with dropdown button"/>
                        </div>
                        <div class="col-sm-3 pl-0">
                          <select class="form-control">
                            <option>Gm</option>
                            <option>Kg</option>
                            <option>Unit</option>
                            <option>Lite</option>
                            <option>Plate</option>
                          </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                  <label>Cost Price</label>
                  <input
                    v-model="MealTotalCostPrice"
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Ex. 100 Tk"
                    readonly
                  />
                </div>
                <div class="form-group">
                  <label>Selling Price</label>
                  <input
                    v-model="SellingPrice"
                    type="number"
                    min="1"
                    class="form-control form-control-sm"
                    placeholder="Ex. 100 Tk"
                  />
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea
                    v-model="Description"
                    class="form-control form-control-sm"
                    rows="3"
                  ></textarea>
                </div>
              </form>
            </div>
          
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            data-dismiss="modal"
            @click="CreateOrUpdateMeal()"
            type="button"
            class="btn btn-sm btn-primary px-4"
          >
            {{ ModelButton }}
          </button>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title font-weight-bold text-white">
            Delete
          </h4>
        </div>
        <div class="modal-body">
          <p>Want to Delete ?</p>
        </div>
        <div class="modal-footer">
          
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            No
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            @click="ConfirmDeleteMeal()"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>





      
    <!-- <div class="row ml-4 pl-3">
      <div class="col-12">
          
        <div class=" mt-3">
          <div class="">
            <div class="bg-alert-mod text-center  py-2 px-3 rounded">
              <h4 class="card-title font-weight-bold  mb-0">
                Meal List
              </h4>
            </div>

            <hr />

            <div class="row mb-xs-3">
              <div class="col-md-6">
                <div class="input-group mb-3 w-md-50">
                  <div class="input-group-addon">
                    <span
                      class="input-group-text border-right-white"
                      id="basic-addon1"
                      ><i class="fa fa-search" aria-hidden="true"></i
                    ></span>
                  </div>
                  <input
                    v-model="searchQuery"
                    type="text"
                    class="form-control "
                    placeholder="Search meal"
                  />
                </div>
              </div>
              <div class="col-md-6 text-md-right">
                <button
                  class="btn  btn-primary pr-3"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  @click="ModalButtonTextHandeler('Save')"
                >
                  <i class="fa fa-plus ml-2" aria-hidden="true"></i> &nbsp;
                  Add new meal
                </button>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="w-3">SL</th>
                    <th scope="col">Meal Name</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Unit of Measurement</th>
                    <th scope="col">Cost Price</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="w-12 text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(Meal, index) in resultQuery" :key="index">
                    <th scope="row">1</th>
                    <td>{{ Meal.MealName }}</td>
                    <td>{{ Meal.SKU }}</td>
                    <td>{{ Meal.TypeName }}</td>
                    <td>{{ Meal.CategoryName }}</td>
                    <td>{{ Meal.Amount }} {{ Meal.UnitOfMeasurement }}</td>
                    <td>{{ Meal.CostPrice }}</td>
                    <td>{{ Meal.SellingPrice }}</td>
                    <td>{{ Meal.Description }}</td>
                    <td align="center">
                      <div
                        class="btn-group mr-2 mb-2 "
                        role="group"
                        aria-label="Second group"
                      >
                        <button
                          class="btn btn-sm btn-success "
                          data-toggle="modal"
                          data-target="#exampleModal"
                          @click="TableEntry(Meal)"
                        >
                          <i class="fa fa-edit px-1"></i>
                        </button>
                      </div>
                      <div
                        class="btn-group  mb-2"
                        role="group"
                        aria-label="Second group"
                      >
                        <button
                          class="btn btn-sm btn-danger"
                          data-toggle="modal"
                          data-target="#deletemodal"
                          @click="SelectedToDelete(Meal)"
                        >
                          <i class="fa fa-trash px-1"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
           
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title font-weight-bold text-white">
              Item Details
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" class="text-light">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <form>
                  <div class="form-group ">
                    <label>Meal name</label>
                    <input
                      v-model="MealName"
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Ex. Salt"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="typo__label">Item List</label>
                    <multiselect
                      v-model="value"
                      placeholder="Search or add a tag"
                      label="name"
                      track-by="code"
                      :options="options"
                      :multiple="true"
                      :taggable="true"
                    ></multiselect>
                  </div>

                  <div class="form-group">
                    <label>Meal type</label>
                    <div class="input-group">
                      <select
                        v-model="selectedType"
                        class="form-control form-control-sm"
                      >
                        <option select disabled>Choose Type</option>

                        <option
                          v-for="types in Mealtype"
                          :key="types.TypeUniquecode"
                          v-bind:value="types"
                        >
                          {{ types.Name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Meal Catagory</label>
                    <div class="input-group">
                      <select
                        v-model="selectedCategory"
                        class="form-control form-control-sm"
                      >
                        <option select disabled>Choose Category</option>
                        <option
                          v-for="category in MealCategory"
                          :key="category.CategoryUniqueCode"
                          v-bind:value="category"
                        >
                          {{ category.CategoryName }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Unit of Measurement</label>
                    <div class="input-group">
                      <input
                        v-model="Amount"
                        type="number"
                        min="1"
                        placeholder="Ex.100gm"
                        class="form-control form-control-sm"
                        aria-label="Text input with dropdown button"
                      />
                      <div class="input-group-addon">
                        <select
                          v-model="UnitOfMeasurement"
                          class="form-control form-control-sm"
                        >
                          <option>gm</option>
                          <option>kg</option>
                          <option>unit</option>
                          <option>litre</option>
                          <option>plate</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Cost Price</label>
                    <input
                      v-model="MealTotalCostPrice"
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Ex. 100 Tk"
                      readonly
                    />
                  </div>
                  <div class="form-group">
                    <label>Selling Price</label>
                    <input
                      v-model="SellingPrice"
                      type="number"
                      min="1"
                      class="form-control form-control-sm"
                      placeholder="Ex. 100 Tk"
                    />
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea
                      v-model="Description"
                      class="form-control form-control-sm"
                      rows="3"
                    ></textarea>
                  </div>
                </form>
              </div>
            
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              data-dismiss="modal"
              @click="CreateOrUpdateMeal()"
              type="button"
              class="btn btn-sm btn-primary px-4"
            >
              {{ ModelButton }}
            </button>
          </div>
        </div>
      </div>
    </div>

    
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Want to Delete ?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click="ConfirmDeleteMeal()"
            >
              Yes
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div> -->
  
  
    <div class="row">
      <div class="col-md-12">
       
          <div class="form-row">
              <div class="form-group col-md-4">
                <label >Blood Temperature</label>
                <div class="input-group input-group-sm ">
                  <input type="text" class="form-control" placeholder="Normal: (97.7–99.5 °F)"  >
                  <div class="input-group-addon">
                    <span class="input-group-text"><sup>o</sup>F</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label >Respiratory Rate</label>
                <input type="text" class="form-control form-control-sm" placeholder="">
              </div>
              <div class="form-group col-md-4">
                <label >Heart Rate</label>
                <input type="text" class="form-control form-control-sm"  placeholder="">
              </div>
            </div>
            



            <div class="form-row">
              <div class="form-group col-md-3">
                <label >Blood Temperature</label>



                <div class="input-group input-group-sm ">
                  <div class="input-group-addon">
                    <span class="input-group-text">Systolic</span>
                  </div>
                  <input type="text" class="form-control" placeholder="High">
                </div>

                
              </div>
              <div class="form-group col-md-3">
                <label >Blood Temperature</label>
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">
                    <span class="input-group-text">Diastolic</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Low">
                </div>
              </div>
              <div class="form-group col-md-3">
                <label >Height</label>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control" placeholder="Ex.: 1.67" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-addon">
                    <span class="input-group-text">Meter</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label >Weight</label>
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control" placeholder="Ex.: 60" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-addon">
                    <span class="input-group-text">Kg</span>
                  </div>
                </div>
              </div>
            </div>





            <div class="form-row">
              <div class="form-group col-md-3">
                <label >Blood Sugar</label>
                <div class="input-group input-group-sm">
                  <div class="input-group-addon">
                    <span class="input-group-text">BM</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-addon">
                    <span class="input-group-text">mmol/L</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label >AM</label>
                <div class="input-group input-group-sm ">
                  <div class="input-group-addon">
                    <span class="input-group-text">AM</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-addon">
                    <span class="input-group-text">mmol/L</span>
                  </div>
                </div>
              </div>
              
            </div>


          
          </div>
    
      </div>



    
  
  
  
  </div>










  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>