<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../payment ui/style.css">
    <title>Document</title>
</head>
<body>
    

  <div class="container-fluid">
    <nav class="main-menu">
        <ul>
            <li>
                <a href="../payment ui/sample.html">
                    <i class="fa fa-home fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-table fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Food item type
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="newitem.html">
                   <i class="fa fa-list-ol fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Add food items
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="mealcatagory.html">
                   <i class="fa fa-sitemap fa-lg h-5vh fa_mod "></i>
                    <span class="nav-text">
                        Meal category
                    </span>
                </a>
               
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cutlery fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Add meal
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-briefcase fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Stock
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                   <i class="fa fa-bed fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        IPD Request
                    </span>
                </a>
            </li>
            <li>
               <a href="#">
                    <i class="fa fa-credit-card-alt fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        POS
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                   <i class="fa fa-info fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Customer
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-lg h-5vh fa_mod"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
      
    <div class="row ml-4 pl-3">
      <div class="col-12">
          
        <div class=" mt-4">
            <div>
              <div class="bg-alert-mod text-center  py-2 px-3 rounded">
                <h4 class="card-title font-weight-bold  mb-0">
                  Item List
                </h4>
              </div>

              <hr />

              <div class="row mb-xs-3">
                <div class="col-md-6">
                  <div class="input-group mb-3 w-md-50">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text border-right-white"
                        id="basic-addon1"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control "
                      v-model="searchQuery"
                      placeholder="Search Item"
                    />
                  </div>
                </div>
                <div class="col-md-6 text-md-right">
                  <button
                    class="btn  btn-primary pr-3"
                    data-toggle="modal"
                    data-target="#ItemModal"
                    @click="ClearField()"
                  >
                    <i class="fa fa-plus ml-2" aria-hidden="true"></i> &nbsp;
                    Add new Item
                  </button>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-bordered table-sm">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="w-3">SL</th>
                      <th scope="col">Item SKU</th>
                      <th scope="col">Item Name</th>
                      <th scope="col">Item Type</th>
                      <th scope="col">Unit of Measurement</th>
                      <th scope="col">Cost Price (Tk)</th>
                      <th scope="col">Sell Price (Tk)</th>
                      <th scope="col">Description</th>
                      <th scope="col" class="w-12">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in resultQuery" :key="index">
                      <th scope="row">
                        {{ index + 1 }}
                      </th>
                      <td>{{ item.SKU }}</td>
                      <td>{{ item.ItemName }}</td>
                      <td>{{ item.ItemTypeName }}</td>
                      <td>{{ item.Amount }} {{ item.UnitOfMeasurement }}</td>
                      <td>{{ item.CostPrice }}</td>
                      <td>{{ item.SellingPrice }}</td>
                      <td>{{ item.Description }}</td>
                      <td>
                        <button
                          class="btn btn-sm btn-success "
                          style="margin: 2px 5px;"
                          data-toggle="modal"
                          data-target="#EditModal"
                          @click="
                            EditItemButton(
                              item.ItemUniqueCode,
                              item.ItemName,
                              item.Amount,
                              item.UnitOfMeasurement,
                              item.CostPrice,
                              item.SellingPrice,
                              item.Description,
                              item.ItemTypeUniqueCode,
                              item.ItemTypeName,
                              item.UnitOfMeasurement
                            )
                          "
                        >
                          <i class="fa fa-edit px-1"></i>
                        </button>
                        <button
                          class="btn btn-sm btn-danger"
                          style="margin: 2px 5px;"
                          data-toggle="modal"
                          data-target="#deletemodal"
                          @click="DeleteItem(item.ItemUniqueCode)"
                        >
                          <i class="fa fa-trash px-1"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>

     <!-- Modal -->
     <div
     class="modal fade"
     id="ItemModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="ItemModalLabel"
     aria-hidden="true"
   >
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header bg-dark">
           <h5 class="modal-title font-weight-bold text-white">
             Item Details
           </h5>
           <button
             type="button"
             class="close"
             data-dismiss="modal"
             aria-label="Close"
           >
             <span aria-hidden="true" class="text-light">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div class="row">
             <div class="col-sm-12">
               <form>
                 <div class="form-group ">
                   <label>Item name</label>
                   <input
                     type="text"
                     class="form-control form-control-sm"
                     placeholder="Ex. Rice"
                     v-model="ItemNameValue"
                   />
                 </div>

                 <div class="form-group ">
                   <label>Item Type</label>
                   <select
                     class="form-control form-control-sm "
                     id="itemTypeSelect"
                     v-model="selectedItemType"
                     @change="ItemTypeChange()"
                   >
                     <option disabled>Select One</option>
                     <option
                       v-for="option in itemTypelist"
                       :key="option.ItemTypeUniqueCode"
                       :value="option.ItemTypeUniqueCode"
                       >{{ option.ItemTypeName }}</option
                     >
                   </select>
                 </div>

                 <div class="form-group">
                   <label>Unit of Measurement</label>
                   <div class="input-group">
                     <input
                       type="number"
                       class="form-control form-control-sm"
                       aria-label="number input with dropdown button"
                       placeholder="Ex. 100gm"
                       v-model="AmountValue"
                     />
                     <div class="input-group-append">
                       <select
                         class="form-control form-control-sm"
                         v-model="UnitValue"
                       >
                         <option selected>gm</option>
                         <option>kg</option>
                         <option>unit</option>
                         <option>litre</option>
                         <option>plate</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <div class="form-group">
                   <label>Cost Price</label>
                   <input
                     type="number"
                     class="form-control form-control-sm"
                     placeholder="Ex. 100"
                     v-model="CostPriceValue"
                   />
                 </div>
                 <div class="form-group">
                   <label>Selling Price</label>
                   <input
                     type="number"
                     class="form-control form-control-sm"
                     placeholder="Ex. 100"
                     v-model="SellPriceValue"
                   />
                 </div>
                 <div class="form-group">
                   <label>Description</label>
                   <textarea
                     class="form-control form-control-sm"
                     rows="3"
                     v-model="DescriptionValue"
                   ></textarea>
                 </div>
               </form>
             </div>
           </div>
         </div>
         <div class="modal-footer">
           <button
             type="button"
             class="btn btn-sm btn-outline-secondary"
             data-dismiss="modal"
           >
             Close
           </button>
           <button
             type="button"
             class="btn btn-sm btn-primary px-4"
             data-dismiss="modal"
             @click="NewItemSave()"
           >
             Save
           </button>
         </div>
       </div>
     </div>
   </div>

   <!-- Edit Modal -->
   <div
     class="modal fade"
     id="EditModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EditModalLabel"
     aria-hidden="true"
   >
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header bg-dark">
           <h5 class="modal-title font-weight-bold text-white">
             Item Details
           </h5>
           <button
             type="button"
             class="close"
             data-dismiss="modal"
             aria-label="Close"
           >
             <span aria-hidden="true" class="text-light">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div class="row">
             <div class="col-sm-12">
               <form>
                 <div class="form-group ">
                   <label>Item name</label>
                   <input
                     type="text"
                     class="form-control form-control-sm"
                     placeholder="Ex. Rice"
                     v-model="ItemNameValue"
                   />
                 </div>

                 <div class="form-group ">
                   <label>Item Type</label>
                   <select
                     class="form-control form-control-sm "
                     id="itemTypeSelect"
                     v-model="selectedItemType"
                     @change="ItemTypeChange()"
                   >
                     <option disabled>Select One</option>
                     <option
                       v-for="option in itemTypelist"
                       :key="option.ItemTypeUniqueCode"
                       :value="option.ItemTypeUniqueCode"
                       >{{ option.ItemTypeName }}</option
                     >
                   </select>
                 </div>

                 <div class="form-group">
                   <label>Unit of Measurement</label>
                   <div class="input-group">
                     <input
                       type="text"
                       class="form-control form-control-sm"
                       aria-label="Text input with dropdown button"
                       placeholder="Ex. 100gm"
                       v-model="AmountValue"
                     />
                     <div class="input-group-append">
                       <select
                         class="form-control form-control-sm"
                         v-model="UnitValue"
                       >
                         <option selected>gm</option>
                         <option>kg</option>
                         <option>unit</option>
                         <option>litre</option>
                         <option>plate</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <div class="form-group">
                   <label>Cost Price</label>
                   <input
                     type="text"
                     class="form-control form-control-sm"
                     placeholder="Ex. 100"
                     v-model="CostPriceValue"
                   />
                 </div>
                 <div class="form-group">
                   <label>Selling Price</label>
                   <input
                     type="text"
                     class="form-control form-control-sm"
                     placeholder="Ex. 100"
                     v-model="SellPriceValue"
                   />
                 </div>
                 <div class="form-group">
                   <label>Description</label>
                   <textarea
                     class="form-control form-control-sm"
                     rows="3"
                     v-model="DescriptionValue"
                   ></textarea>
                 </div>
               </form>
             </div>
           </div>
         </div>
         <div class="modal-footer">
           <button
             type="button"
             class="btn btn-sm btn-outline-secondary"
             data-dismiss="modal"
           >
             Close
           </button>
           <button
             type="button"
             class="btn btn-sm btn-primary px-4"
             data-dismiss="modal"
             @click="UpdateItem()"
           >
             Update
           </button>
         </div>
       </div>
     </div>
   </div>

   <!-- Delete Modal -->
   <div class="modal" id="deletemodal" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">Delete</h5>
           <button
             type="button"
             class="close"
             data-dismiss="modal"
             aria-label="Close"
           >
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <p>Want to Delete ?</p>
         </div>
         <div class="modal-footer">
           <button
             type="button"
             class="btn btn-primary"
             data-dismiss="modal"
             @click="DeleteConfirm()"
           >
             Yes
           </button>
           <button
             type="button"
             class="btn btn-secondary"
             data-dismiss="modal"
           >
             No
           </button>
         </div>
       </div>
     </div>
   </div>
  </div>







<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</body>
</html>